<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <packages>
        <impPackage>daoc.age</impPackage>
        <impPackage>daoc.age.ejemplos.sudoku</impPackage>
    </packages>
    
    <distImp>Poblacion</distImp>
    
    <numHilos>0</numHilos>
    
    <taskServerUrl>http://localhost:8888/distributed/task</taskServerUrl>
    
</config>
